/* Styles for the expenses container */
.expenses {
    max-width: auto;
    margin: 0 auto;
    padding: 20px;
}

/* Styles for each individual expense item */
.expense-item {
    margin-bottom: 20px;
}

/* Additional styling for the Card component*/
.card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
}

.card:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

