/* Styles for the form container */
.new-expense {
    max-width: auto;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styles for the form controls */
.new-expense__controls {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.new-expense__control {
    display: flex;
    flex-direction: column;
}

/* Styles for the labels */
label {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Styles for the input fields */
input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin:10px
}

/* Styles for the "Add expense" button */
.new-expense__actions {
    margin-top: 15px;
}

button {
    padding: 10px;
    background-color: #f0b5b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin:10px
}

button:hover {
    background-color: #F5CFCE;
}

/* Styles for the price button */
.expense-item__price {
    width: 70px;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #F6839C;
    border: 1px solid white;
    padding: 10px;
    border-radius: 12px;
    text-align: center; /* Center text horizontally */
    line-height: 40px; /* Center text vertically */
    margin: 10px;
}


